.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_phone {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #888888;
}

.input_commentaries {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #888888;
}

.input_phone input {
  padding: 1.25rem;
  border-radius: 3rem;
}

.input_commentaries input {
  padding: 1.25rem;
  border-radius: 3rem;
}
