*,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-size: 16px;
  margin: 0 auto;
  /* max-width: 1440px; */
  width: 100%;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"),
    url(../fonts/Satoshi/Satoshi-Regular.otf) format("opentype");
}

/* @font-face {
  font-family: "Satoshi";
  font-weight: medium;
  src: local("Satoshi"),
    url(../fonts/Satoshi/Satoshi-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: bold;
  src: local("Satoshi"),
    url(../fonts/Satoshi/Satoshi-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: black;
  src: local("Satoshi"),
    url(../fonts/Satoshi/Satoshi-Black.otf) format("opentype");
} */
