.discover {
  margin-block: 3rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 7.5rem;
}

.container h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.discover__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__btns {
  display: flex;
  gap: 0.5rem;
}

.navigation__btns button {
  outline: none;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

/* Media query for max-width 1100px */
@media (max-width: 1100px) {
  .container {
    padding-inline: 5rem;
    width: 100%;
  }

  .discover__navigation {
    align-items: flex-start !important;
  }

  .navigation__btns {
    gap: 1.5rem;
  }

  .navigation__btns img {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }
}

/* Media query for max-width 1000px */
@media (max-width: 1000px) {
  .discover__navigation {
    align-items: flex-start !important;
  }

  .navigation__btns {
    gap: 1.5rem;
  }

  .navigation__btns img {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }
}

/* Media query for max-width 900px */
@media (max-width: 900px) {
  .container {
    padding-inline: 4rem;
    width: 100%;
  }

  .container h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
  }

  .discover__navigation {
    align-items: flex-start !important;
  }

  .navigation__btns {
    gap: 1.5rem;
  }
}

/* Media query for max-width 768px */
@media (max-width: 768px) {
  .container {
    padding-inline: 3rem;
    width: 100%;
  }

  .container h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
  }

  .discover__navigation {
    align-items: flex-start !important;
  }

  .navigation__btns {
    gap: 1.5rem;
  }
}

/* Media query for max-width 668px */
@media (max-width: 668px) {
  .container {
    padding-inline: 3rem;
    width: 100%;
  }

  .container h2 {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
  }

  .discover__navigation {
    align-items: flex-start !important;
  }

  .navigation__btns {
    gap: 1.5rem;
  }
}
