.discover {
  margin-block: 3rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 7.5rem;
}

.container h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.discover__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__btns {
  display: flex;
  gap: 0.5rem;
}

.navigation__btns button {
  outline: none;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
}
