.slide__box {
  position: relative;
  margin: 2rem 0 3.75rem;
  aspect-ratio: 380/290;
  border: 1px solid transparent;
  cursor: pointer;
  transition: outline 0.3s;
  background-size: cover;
  border-radius: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
}
.slide__box:hover {
  border: 1px solid black;
}

/* .slide__box img {
  width: 100%;
  height: 18rem;

  position: relative;
}

.slide__box img:hover {
  border: 1px solid black;
  cursor: pointer;
} */

.slider__title_bg {
  position: absolute;
  width: 100%;
  height: 4.375rem;
  left: 0;
  bottom: 0;
  border-radius: 0 0 1.25rem 1.25rem;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

h3 {
  position: absolute;
  color: #ffffff;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.75rem;
  padding: 1rem 0 0 1rem;
  line-height: 2.375rem;
  z-index: 2;
}
